<link rel="stylesheet" href="/css/login.css">

{{#if log}}
    {{#if adm}}
        <main>
        <h1>Bem vindo, {{nomeAdm}}</h1>
    </main>
    {{else}}
    <main>
        <h1>Informações da conta</h1>
        <table>
    <thead>
        <th>Seu nome</th>
        <th>Seu sobrenome</th>
        <th>Seu cpf</th>
        <th>Seu telefone</th>
        <th>Seu E-mail</th>
    </thead>
    <tbody>
        {{#each valores}}
        <tr>
            <td>{{this.nome}}</td>
            <td>{{this.sobrenome}}</td>
            <td>{{this.cpf}}</td>
            <td>{{this.telefone}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
     <div class="sistema_nav">
            <nav>
                <a href="/logout">Sair da conta</a>
            </nav>
        </div>
    </main>
    {{/if}}
{{else}}
    <main>
        <h1>Efetuar Login</h1>

        <form action="/login" method="post">
        <input type="email" name="email" placeholder="Digite seu email"><br>
        <input type="password" name="senha" placeholder="Digite sua senha"><br>
        <br>
        <button class="log" type="submit">Entrar</button>
        </form>
    </main>
    <main>
        <h1>Ainda não está logado? Cadastre-se:</h1>

        <form action="/cadastrar_usuario" method="post">
        <label for="nome">Digite seu Nome</label>
        <input type="text" name="nome" placeholder="Digite seu Nome"><br>
        <br>
        <label for="sobrenome">Digite seu Sobrenome</label>
        <input type="text" name="sobrenome" placeholder="Digite seu Sobrenome"><br>
        <br>
        <label for="cpf">Digite seu cpf</label>
        <input type="text" name="cpf" placeholder="Digite seu cpf"><br>
        <br>
        <label for="telefone">Digite seu telefone</label>
        <input type="text" name="telefone" placeholder="Digite seu telefone"><br>
        <br>
        <label for="email">Digite seu email</label>
        <input type="email" name="email" placeholder="Digite seu email"><br>
        <br>
        <label for="senha">Digite sua senha</label>
        <input type="password" name="senha" placeholder="Digite sua senha"><br>
        <br>

        <button class="log" type="submit">Cadastrar</button>
        {{#if msg}}
            <p>{{msg}}</p>
        {{else}}
            <p>{{msg2}}</p>
        {{/if}}
        </form>
    </main>
{{/if}}


